body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #473d47;
    margin: 0;
    padding: 100px;
}

.container {
    max-width: 400px;
    background: white;
    padding: 20px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

.input-container {
    display: flex;
    gap: 5px;
    margin-bottom: 40px;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

button {
    padding: 10px 15px;
    background: #786363;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background: #4c3d4a;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

li {
    padding: 10px;
    background: #f1f1f1;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background 0.3s;
}

li:hover {
    background: #ddd;
}

li.completed {
    text-decoration: line-through;
    background: #d4edda;
}

.remove-btn {
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-left: 10px;
    border-radius: 3px;
}

.remove-btn:hover {
    background: darkred;
}